<!-- Footer markup for the site rendering                     -->
<!--                                                          -->
<!-- inslichtruecken/gpx: track repository web site           -->
<!-- Created by Thomas Stober,  www.inslichtruecken.de        -->
<!-- Licensed CC BY-SA 3.0                                    -->

	  <small>
		Created by <a href="{{ site.github.owner_url }}" target="_blank">Thomas Stober</a><br>

        <!-- Link the involved license terms -->
	    <a href="{{ "/" | relative_url }}general/license">Lizenz und Urheberrechte </a>
		&mdash;
		
        <!-- Link the GDPR notice -->
		{% if site.gdpr-notice %}
		<a href="{{ site.gdpr-notice }}" target="_blank">Datenschutzerklärung</a>
		{% else %}
		<a href="{{ "/" | relative_url }}general/gdpr-notice">Datenschutzerklärung</a>
        {% endif %}
		&mdash;
	
	    
        <!-- Link the Impressum for Germany -->
		{% if site.impressum %}
		<a href="{{ site.impressum }}" target="_blank">Impressum</a>  
		{% else %}
		<a href="{{ "/" | relative_url }}general/impressum">Impressum</a>
        {% endif %}
        &mdash;

        <!-- Link any further legal constraints -->
		{% if site.legal" %}
		<a href="{{ site.legal }}" target="_blank">Rechtliche Hinweise</a><br>
		{% else %}
		<a href="{{ "/" | relative_url }}general/legal">Rechtliche Hinweise</a><br>
        {% endif %}

	</small>	