<!-- Page End markup for the site rendering                   -->
<!-- (placed at the bottom of each default page)              -->
<!--                                                          -->
<!-- inslichtruecken/gpx: track repository web site           -->
<!-- Created by Thomas Stober,  www.inslichtruecken.de        -->
<!-- Licensed CC BY-SA 3.0                                    -->


<!--  Important links which need to be on each page (legal, help, ...) -->	  


<!--  Link to get back to the main landing page -->	  
   <p>
   <hr>
   <p>
    <a href="{{ "/" | relative_url }}">Zurück</a>

