<!-- Markup for dislaying Blog Posts                         -->
<!--                                                         -->
<!-- inslichtruecken/gpx: track repository web site          -->
<!-- Created by Thomas Stober,  www.inslichtruecken.de       -->
<!-- Licensed CC BY-SA 3.0                                   -->


	<!-- Blogs (posts) -->
		<!-- Display Posts -->
		{% for post in site.posts %}	
		     <!-- Add a list entry for each post -->
			<li><a href="{{post.url | absolute_url }}">{{post.title}}</a></li>		
		{% endfor %}
	
	  <!-- TMS End -->