---
layout: default
---

<!-- Markup for rendering entries of type: main-page          -->
<!--                                                          -->
<!-- inslichtruecken/gpx: track repository web site           -->
<!-- Created by Thomas Stober,  www.inslichtruecken.de        -->
<!-- Licensed CC BY-SA 3.0                                    -->
<!--                                                          -->
<!-- Valid Properties for this type of entry:                 -->
<!--                                                          -->
 
<h1>Main Page</h1>

About this project...

How to get started ...

<a href="{{ "/" | absolute_url }}general/sample-page.html">sample page</a></p><br>
<a href="./general/sample-page.html">A verbose sample page with nice styling</a></p><br>
<a href="./general/how-to-add-tracks.html">how-to-add-tracks</a></p><br>
<a href="./general/set-up-instructions.html">set-up-instructions</a></p><br>
<a href="./README.html">ReadMe</a></p><br>    



Here are my tracks to present and share with you ...


<!-- both works -->

<!-- 
[Link to another page](./general/another-page.html).
[Link to about me](./general/about-me.html)
[Link to a track](./tracks/my-first-track.html)
[Link to atest](./tracks/atest.html)
-->

{% include track-list.html %}

{% include post-list.html %}
