---
layout: default
---
<!-- Markup for rendering for entries of type track           -->
<!--                                                          -->
<!-- inslichtruecken/gpx: track repository web site           -->
<!-- Created by Thomas Stober,  www.inslichtruecken.de        -->
<!-- Licensed CC BY-SA 3.0                                    -->
<!--                                                          -->
<!-- Valid Properties for this type of entry:                 -->
<!--                                                          -->
<!-- This layout is designed to present a                     -->
<!-- GPX Track with some nice description                     -->
<!--                                                          -->
<!-- Supported properties:                                    -->
<!-- Title of the Track:           page.title                 -->
<!-- Author of the Track:          page.author                -->
<!-- Description of the Track:     page.description           -->
<!-- Region:                       page.region                -->
<!-- Start Location Name:          page.start-location        -->
<!-- Start Location Latitude N/S:  page.start-lat             -->
<!--                               (format: 48.60280)         -->   
<!-- Start Location Longitude O/W: page.start-long            -->
<!--                               (format:  8.90339)         -->   
<!-- Length of the Hike:           page.length                -->
<!-- Duration (pure walking):      page.duration              -->
<!-- Rise in elevation:            page.rise                  -->
<!-- Difficulty:                   page.difficulty            -->
<!-- Rating:                       page.rating                -->
<!--                               (1, 2 or 3)                -->
<!-- Image:                        page.image                 -->
<!--                               (stored in assets/images)  -->
<!-- Image Alt Text:               page.image-text            -->
<!-- Link(s) for more informaton:  page.info-links            -->
<!--                               (separated by blank,       -->
<!-- Link more details:            page.details-link          -->
<!--                               (in case you have another   -->
<!--                               web site with a more       -->
<!--                               detailed description of    -->
<!--                               that track)                -->
<!-- Map showing track as Image:   page.map-image             -->
<!--                               (stored in assets/maps)    -->
<!-- Name of the GPX File:         page.gpx-file              -->
<!--                               (stored in assets/tracks)  -->
<!-- Tags describing the track:    page.tags                  -->
<!--                               (separated by blank)       -->
<!--                                                          -->


<!-- Display page title and track rating                      -->
<div class="invisible-box">
    <table">
	<tr>
	
	   <td>
         <h2>{{ page.title }}</h2>
       </td>
	   
       {% if page.rating %}
	   <td>
	   
	     {% if page.rating==1 %}
            <img src="{{ "/" | relative_url  }}assets/img/star.png" alt="star" height=20/>
	     {% endif %}
	     {% if page.rating==2 %}
            <img src="{{ "/" | relative_url  }}assets/img/star.png" alt="star" height=20/>
            <img src="{{ "/" | relative_url  }}assets/img/star.png" alt="star" height=20/>
	     {% endif %}
	     {% if page.rating==3 %}
            <img src="{{ "/" | relative_url  }}assets/img/star.png" alt="star" height=20/>
            <img src="{{ "/" | relative_url  }}assets/img/star.png" alt="star" height=20/>
            <img src="{{ "/" | relative_url  }}assets/img/star.png" alt="star" height=20/>
	     {% endif %}
	   </td>
       {% endif %}

	</tr>
	</table>
</div>

<!-- Display author and tags                                 -->

<div class="invisible-box">
   <table>
   <tr>
      {% if page.author %}
      <td>
      von {{ page.author | default: site.author }}
      </td>
	  {% endif %}    
		   
      {% if page.tags %}
	  <td>
      <small>Schlagwörter: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
      </td>
      {% endif %}    
   </tr>
   </table>
</div>

<!-- Display description text                                    -->
{% if page.description %}
<div>
    <strong>
     {{ page.description }}<br>
	</strong> 
    <p>
</div>
{% endif %} 
 


<!-- Display key data                                          -->
<div class="info-box">
    <table>
	<small>
	{% if page.region %}
    <tr>
      <td>Region</td>
      <td>{{ page.region }}</td>
	</tr>
	{% endif %}
	
	{% if page.length %}
	<tr>
      <td>Länge</td>
      <td>{{ page.length }}</td>
    </tr>
	{% endif %}
	
	{% if page.duration %}
	<tr>
      <td>Dauer</td>
      <td>{{ page.duration }}</td>
    </tr>
	{% endif %}
	
	{% if page.rise %}
	<tr>
      <td>Höhenmeter</td>
      <td>{{ page.rise }}</td>
    </tr>
	{% endif %}
	{% if page.difficulty %}
	<tr>
      <td>Schwierigkeit</td>
      <td>{{ page.difficulty }}</td>
    </tr>
	{% endif %}
	
	
	<tr>
	{% if page.start-location %}
      <td>Startpunkt</td>
      <td>
	      {{ page.start-location }} <br>
		  <a href="http://maps.google.com/maps?z=15&mrt=loc&t=p&q={{ page.start-lat }}%2C{{ page.start-long }}" target="_blank"> 
		  Link zu Google Maps</a> <br>
		  <a href="https://www.openstreetmap.org/#map=14/{{ page.start-lat }}/{{ page.start-long }}" target="_blank"> 
		  Link zu Openstreetmap</a> <br>
		  Koordinaten: {{ page.start-lat }}, {{ page.start-long }}
	  </td>
	</tr>
	{% endif %}
	
	{% if page.info-links %}
	<tr>
	  
      <td>Links</td>
      <td>
          {% assign all-links = page.info-links | split:' ' %}
          {% for one-link in all-links %}   
               <a href="{{ one-link }}" target="_blank">{{ one-link  | truncate: 55, "..." }}</a><br>
          {% endfor %}

	  </td>
	</tr>
	{% endif %}
	
	{% if page.details-link %}
	<tr>
	  
      <td>Links</td>
      <td>
          <a href="{{ page.details-link }}" target="_blank">{{ page.details-link  | truncate: 55, "..." }}</a><br>

	  </td>
	</tr>
	{% endif %}
	
	{% if page.gpx-file %}
	<tr>
      <td>GPX Track</td>
      <td><a href="{{ "/" | absolute_url  }}assets/tracks/{{ page.gpx-file }}">Download</a></td>	  
	</tr>
    {% endif %}
	
    </table>
	</small>  
</div>

<p>

<!-- Markdown content with more details on the track is placed here                           -->
{{content}}

<p>

<!-- Show an interactive map with Track and Waypoints -->
{% if site.enable-map-viewer %}

    {% if page.gpx-file %}
	<!-- load GPX Vier Script --> 
    <script type="text/javascript" src="{{ "/" | relative_url }}assets/js/GM_Utils/GPX2GM.js"></script>
	
	<!-- display the map with the GPX file of this track -->
    <div class="gpxview:{{ "/" | relative_url }}assets/tracks/{{ page.gpx-file }}" style="width:100%;height:500px">
       <noscript><p>Zum Anzeigen der Karte wird Javascript benötigt.</p></noscript>
    </div>
	
	<!-- add credit -->
	<small>Powered by <a href="https://www.j-berkemeier.de/GPXViewer" target="_blank">GPXViewer (Jürgen Berkemeier)</a>, <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.de" target="_blank">Creative-Commons Lizenz BY-NC-SA 4.0</a><br></small>
	<small>Verwendete Kartendaten: <a href="https://www.openstreetmap.org" target="_blank">Openstreetmap</a>,  <a href="https://www.openstreetmap.org/copyright"target="_blank">Creative-Commons Lizenz CC BY-SA</a><br></small>
    <small>Karten Symbole von  <a href="https://mapicons.mapsmarker.com/" target="_blank">Mapsmarker / Nicolas Mollet</a>, <a href="http://creativecommons.org/licenses/by-sa/3.0/" target="_blank">Creative-Commons Lizenz CC BY-SA 3.0</a><br></small>

	<p>
    <p>
    {% endif %}
	
<!-- FOR TESTING DISABLE THIS ELSE {  else }  ANS SHOW BOTH MAP AND MAP IMAGE --> 

    {% if page.map-image %}
     <!-- A nice map image for illustration as an alternative to the interactive map -->
    <a href="{{ "/" | relative_url }}assets/maps/{{ page.map-image }}" target="_blank">
	    <img src="{{ "/" | relative_url }}assets/maps/{{ page.map-image }}" alt="{{ page.map-image }}" title="{{ page.map-image }}">
    </a><br>
 	<small>Verwendete Kartendaten: <a href="https://www.openstreetmap.org" target="_blank">Openstreetmap</a>, Copyright OpenStreetMap-Mitwirkende,  <a href="https://www.openstreetmap.org/copyright"target="_blank">Creative-Commons Lizenz CC BY-SA</a><br></small>
    <small>Karten Symbole von  <a href="https://mapicons.mapsmarker.com/" target="_blank">Mapsmarker / Nicolas Mollet</a>, <a href="http://creativecommons.org/licenses/by-sa/3.0/" target="_blank">Creative-Commons Lizenz CC BY-SA 3.0</a><br></small>
    <small>Kartenlayout (Theme) <a href="https://www.openandromaps.org/kartenlegende/elevation-hike-theme/" target="_blank">Elevate, Elegant, Elements & Elevelo von Tobias Kühn</a>, <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.de" target="_blank">Creative-Commons Lizenz CC BY-NC-SA 3.0</a><br></small>
	<p>
    <p>
    {% endif %}	
	
{% endif %}
<!-- End of map display                 -->


<!-- A nice picture for illustration -->
{% if page.image %}
    <a href="{{ "/" | relative_url }}assets/images/{{ page.image }}" target="_blank">
        <img src="{{ "/" | relative_url }}assets/images/{{ page.image }}" alt="{{ page.image-text }}" title="{{ page.imagetext }}">
	</a><br>
{% endif %}

<p>



